/*  Main CSS Styling for WI apps //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.infoIcon{
	margin-bottom:-2px; margin-left:3px; cursor:pointer; position: absolute; right: 10px; top: 7px;
}
hr{
	border-bottom: 1px solid #cdd5d5; width: 400px; margin-right: 14px;
}
/*.form-component{
	display: block;
}*/
.flex-center{
	display:flex; align-items:center;
}
.flex1{
	flex:1;
}
.flexColumn{
	display:flex; flex-direction:column;
}
.hide{
	display:none;
}
.explainWrap p{
	margin-top:5px; margin-bottom:5px;
}
.getHelpBtnWrap{
    background-color:#eef3f8; padding:10px 12px; z-index:500; text-align:center;
}	
.getHelpBtnWrap .button{
	font-size:15px; width:100%; color:#2F6384; font-weight:bold;
}	
.sidebar-content .getHelpBtnWrap .button{
	margin-bottom:0;
}
.wfa-wrap .slider{
	margin-left:30px;
}
.wfa-wrap{
	display: none;
}
.wfa-sections{
	position: relative; top: -10px; padding: 10px;
}

.wfa-first-section .toggle-btn{
	margin-top:-10px;	
}
.under{
	text-decoration:underline;
}
/* fix the accordion height issue in Safari //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.sidebar-content{
	height:auto !important;
}
.wfa-count-font{
	color:#2f6384; text-align:center; margin-top:-5px; margin-bottom:-10px;
}
.slider-container .ui-state-disabled {
    cursor: not-allowed !important;
}
.wfa-slider-label{
	display:none; margin-left:-8px;
}
.wfa-radio-indent{
	margin-left:22px;
}
.wfa-grth{
	display:none; color: #2f6384; font-weight: 700;
}
.wfa-shosu{
	position:absolute; top:94px; right:3px;
}
/* HUC dropdown styling area ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.wfa-huc8Chosen, .wfa-huc10Chosen, .wfa-huc12Chosen{
	display: none;
}
/*.wfa-huc6Text, .wfa-huc8Text, .wfa-huc10Text, .wfa-huc12Text{
	display: none;
}*/
.wfa-hucSelText{
	margin: 10px;
}
.wfa-backBtn{
	cursor: pointer; color: #2F6384;
}
/* Attribute wrap styling for select a site /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.wfa-fas_AttributeWrap{
	margin-top: 0px; display: flex; flex-wrap: wrap; padding-bottom: 20px;
}
.wfa-fas_AttributeWrap div{
	padding: 3px; line-height: 22px;
}
.wfa-watershedHoverText{
	font-size: 15px; font-weight: 900; color: #101d28; margin-top: 40px; text-align: center;
}
.wfa-sum-wrap {
    width: 360px; margin: 3px; border: 1pt solid #cdd5d5; padding: 5px; box-shadow: 0 1px 1px rgba(16,22,26,.2); position: relative; display: flex;
}
.wfa-huc-wrap{
	width: 300px; margin: 3px; border: 1pt solid #cdd5d5; padding: 5px; box-shadow: 0 1px 1px rgba(16,22,26,.2); position: relative;
}
.wfa-attributePatch{
	height: 28px; width: 28px; background-color: red; margin-right: 5px; border: 1pt solid #cdd5d5; box-shadow: 0 1px 1px rgba(16,22,26,.2);
}
.s2Atts{
	font-size: 14px; color: #2f6384; font-weight: bold;
}
.wfa-hucSelWrap{
	font-size: 15px; margin-right: 8px; border-radius: 5px; padding-left: 3px;
}
.wfa-hucSelWrap:hover{
	background-color: #F3F3F3; cursor: pointer;
}
.wfa-hucZoom{
	color: blue; right: 7px; margin-right: 8px;
}
.wfa-textZoom{
	color: black;
}
.wfa-funcLabel{
	margin-bottom: 7px !important;
}
.tabBtns{
	margin-right:-6px; margin-bottom:0 !important; background:#f3f3f3; border-bottom: 1px solid #cdd5d5 !important; border-top: 1px solid #cdd5d5 !important;
}
.wfa-funcWrapper{
	margin-top: 20px; position: relative; display: flex; width:375px;
}
.wfa-func_radioGroups{
	flex: 1; width: 190px;
}
.wfa-app{
	background: #fff; position: absolute; z-index: 1000; width: 420;
}
.wfa-mainContentWrap{
	position: relative; top: 10px; padding-left: 7px;
}
.wfa-dlwrap a {
	color: blue !important; cursor: pointer !important;
}
.wfa_basinText{
	color:#FFF; background-color:#21658c; font-size: 23px; width: 66px;
}

/* wildlife check/radio button section */
.wfa-wildlifeCheck{
	font-size: 13px; margin-top: 16px; font-weight: 900; margin-left: 14px;
}
.wfa-wildlifeRadioButtons{
	display: flex; margin-left: 24px;
}
.wfa-prwCheck{
	margin-left: 24px;
}

/* Bottom Bar Opacity slider Elements  ///////////////////////////////////////////////////////////////////////////////////////*/
.bottomDiv{
	width: 100%; position: relative; height: 80px;
}
.slider-container{
	display: flex; align-items: center; margin: 0px !important; border-radius: 5px;
	width: 100%; justify-content: center;
}
.sliderDiv{
	width:252px; margin:0 auto; text-align:center; 
}
.ui-slider-horizontal {
 	height: 0.6em !important;   
 }
.leftSliderLabel{
	display:inline-block; margin-right:9px; font-size:10pt;
}	
.slider{
	width:100px; display:inline-block; width: 250px; margin-right: 5px; margin-left: 5px;
}
.rightSliderLabel{
	display:inline-block; margin-left:5px; font-size:10pt;
}
