/*  Main CSS Styling for WI apps //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.infoIcon{
	margin-bottom:-2px; margin-left:3px; cursor:pointer;
}
.flex-center{
	display:flex; align-items:center;
}
.flex1{
	flex:1;
}
.flexColumn{
	display:flex; flex-direction:column;
}
.hide{
	display:none;
}
.explainWrap p{
	margin-top:5px; margin-bottom:5px;
}
.getHelpBtnWrap{
    background-color:#eef3f8; padding:10px 12px; z-index:500; text-align:center;
}	
.getHelpBtnWrap .button{
	font-size:15px; width:100%; color:#2F6384; font-weight:bold;
}	
.sidebar-content .getHelpBtnWrap .button{
	margin-bottom:0;
}
.wfa-wrap .slider{
	margin-left:30px;
}
.wfa-wrap{
	display: none;
}
.wfa-first-section .toggle-btn{
	margin-top:-10px;	
}
.under{
	text-decoration:underline;
}
/* fix the accordion height issue in Safari //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.sidebar-content{
	height:auto !important;
}
.wfa-count-font{
	color:#2f6384; text-align:center; margin-top:-5px; margin-bottom:-10px;
}
.slider-container .ui-state-disabled {
    cursor: not-allowed !important;
}
.wfa-slider-label{
	display:none; margin-left:-8px;
}
.wfa-radio-indent{
	margin-left:22px;
}
.wfa-grth{
	display:none; color: #2f6384; font-weight: 700;
}
.wfa-shosu{
	position:absolute; top:94px; right:3px;
}
/* HUC dropdown styling area ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.wfa-huc8Chosen, .wfa-huc10Chosen, .wfa-huc12Chosen{
	display: none;
}
.wfa-huc6Text, .wfa-huc8Text, .wfa-huc10Text, .wfa-huc12Text{
	display: none;
}
.wfa-hucSelText{
	margin: 10px;
}
.wfa-backBtn{
	cursor: pointer; color: #2F6384;
}
/* Attribute wrap styling for select a site /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.wfa-fas_AttributeWrap{
	margin-top: 20px;
}
.wfa-fas_AttributeWrap div{
	padding: 5px;
}
